<!doctype html>
<html lang="en">

<head>
  <title>Innovation3D</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link  rel="stylesheet" href="static/css/bootstrap.css" crossorigin="anonymous">

</head>

<body>
    
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><i class="fa fa-cube"></i>Innovation3D</a>
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" href="/libro">Modelados 3D </a>
            <a class="nav-item nav-link" href="/materiales">Materiales</a>
            <a class="nav-item nav-link" href="/contacto">Contacto</a>
            <a class="nav-item nav-link" href="/admin/login">Login</a>
        </div>
    </nav>
 <div class="container">
    <br/> 