{% include 'sitio/cabezera.html' %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
    <div class="row">

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://netrinoimages.s3.eu-west-2.amazonaws.com/2022/03/27/1129241/418271/mini_robot_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_4304164_o.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Mini Robot</h4>
                    <p class="card-text"></p>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="" role="button">Descargar gratis</a>
                        <h2/>
                        <a name="" id="" class="btn btn-primary" href="" role="button">Solicitar Impresion</a>
                    </p>
                
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://netrinoimages.s3.eu-west-2.amazonaws.com/2022/09/07/1281726/417798/deadpool_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_4300997_o.png" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Deadpool</h4>
                    <p class="card-text"></p>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="" role="button">Descargar gratis</a>
                        <h2/>
                        <a name="" id="" class="btn btn-primary" href="" role="button">Solicitar Impresion</a>
                    </p>
                
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://netrinoimages.s3.eu-west-2.amazonaws.com/2022/04/18/1151490/418276/pokemon_bulbasaur_bug_type_concept_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_4304201_o.jpg" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Pokemon Bulbasaur Bug Type Concept</h4>
                    <p class="card-text"></p>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="" role="button">Descargar $3.50</a>
                        <h2/>
                        <a name="" id="" class="btn btn-primary" href="" role="button">Solicitar Impresion</a>
                    </p>
                
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://storage.specialstl.com/file/specialstl-new/uploads/product_image/33980/image/optimized-3fb63d4f2f76c63872efd0c4e4e5dbe1.jpg" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Mikasa Stand Alone</h4>
                    <p class="card-text"></p>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="" role="button">Descargar $7.50</a>
                        <h2/>
                        <a name="" id="" class="btn btn-primary" href="" role="button">Solicitar Impresion</a>
                    </p>
                
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://mito3d.fra1.digitaloceanspaces.com/3Dprintmodels/thingiverse1/Thing1729636" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">PLEGABLE SMARTPHONE DE PIE ESTRECHO DISTINTOS TAMAÑOS</h4>
                    <p class="card-text"></p>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="" role="button">Descargar gratis</a>
                        <h2/>
                        <a name="" id="" class="btn btn-primary" href="" role="button">Solicitar Impresion</a>
                    </p>
                
                </div>
            </div>
        </div>
       
      
        
        
        
        
    </div>


{% include 'sitio/pie.html' %}
