{% include 'sitio/cabezera.html' %}
    <script src="https://kit.fontawesome.com/a75248a9a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
    <body>
	
        <div class="container">
            <input type="text" placeholder="Buscar">
            <div class="boton">
                <i class="fa fa-search"></i>
            </div>
        </div>
        
    </body>
    <div class="row">
        {% for modelo in libro %}
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/img/{{ modelo[2]}}" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">{{ modelo[1] }}</h4>
                    <p class="card-text"></p>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="{{ modelo[3]}}" role="button">Descargar gratis</a>
                        <h2/>
                        <a name="" id="" class="btn btn-primary" href="" role="button">Solicitar Impresion</a>
                    </p>
                
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% include 'sitio/pie.html' %}
