 
 <script src="https://kit.fontawesome.com/a75248a9a3.js" crossorigin="anonymous"></script>
 </div>
    <link rel="stylesheet" href="{{url_for('static', filename='css/pie.css') }}">
    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <figure>
            <a href="#"><img src="img\innovation3d.png" alt="Logo de innovation3d"></a>
          </figure>
        </div>
        <div class="box">
          <h2>SOBRE NOSOTROS</h2>
          <p>Innovation3D nace de la idea de un grupo de jóvenes emprendedores que empezaron a explorar esta nueva tecnología, y de un hobbie pasó a ser un trabajo soñado. 
          Hoy en día ofrecemos este servicio de impresión 3D a todo El salvador!</p>
        </div>
        <div class="box">
          <h2>SIGUENOS</h2>
           <div class="red_social">
             <a href="#" class="fa fa-facebook"></a>
             <a href="#" class="fa fa-instagram"></a>
             <a href="#" class="fa fa-twitter"></a>
             <a href="#" class="fa fa-youtube"></a>
           </div>
        </div>
      </div>
      <div class="grupo2">
        <small>&copy; 2022 <b>Innovation3D</b> - Todos los derechos reservados.</small>
      </div>
    </footer>
  </body>

</html>