{% include 'admin/cabezera2.html' %}
   
   <br/>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
   <div class="container">
      <div class="row">
         <div class="col-md-5">
            <div class="card">
               
               <div class="card-header">
                  Datos del archivo
               </div>
               <div class="card-body">
                  
                  <form action="/admin/libro2/guardar" method="post" enctype="multipart/form-data">

                    <div class="mb-3">
                      <label for="txtNombre" class="form-label">Nombre:</label>
                      <input type="text" class="form-control form-control-sm" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Escriba el nombre del archivo">
                     
                     </div>

                     <div class="mb-3">
                        <label for="txtImagen" class="form-label">Imagen:</label>
                        <input type="file" class="form-control form-control-sm" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Seleccione la imagen">
                       
                     </div>

                     <div class="mb-3">
                        <label for="txtArchivo" class="form-label">Seleccionar Archivo:</label>
                        <input type="file" class="form-control form-control-sm" name="txtArchivo" id="txtArchivo" aria-describedby="helpId" placeholder="Seleccione el archivo">
                       
                     </div>

                     <button type="submit" class="btn btn-primary">Agregar</button>

                  </form>

               </div>
               <div class="card-footer text-muted">
                  
               </div>
            </div>
         </div>

         <div class="col-md-7">

            <div class="table-responsive">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Archivo</th>
                        <th scope="col">Acciones</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for modelo in libro2 %}
                     <tr class="">
                        <td>{{ modelo[0] }}</td>
                        <td>{{ modelo[1] }}</td>
                        <td>
                           <img width="60" src="/img/{{ modelo[2] }}" class="img-fluid rounded-top" alt="">
                           
                        </td>
                        <td>{{ modelo[3] }}</td>
                        <td>
                           <form action="/admin/libro2/borrar" method="post">
                             <input value="{{ modelo[0] }}" type="hidden" name="txtID" id="txtID">
                              <button type="submit" class="btn btn-danger">Eliminar</button>

                           </form>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
            
            
         </div>
         
      </div>
   </div>

   


{% include 'admin/pie2.html' %}

 