{% include 'admin/cabezera2.html' %}

       
       
      <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
      <div class="row align-items-md-stretch">
        
        <div class="p-5 bg-light">
            <div class="h-100 p-5 text-white bg-primary border rounded-3">
               <h2>Bienvenido al administrador del sitio</h2>
               <p>Aqui podra administrar los archivos del sitio web </p>
               <hr class="my-2"
             <p class="lead">
                <a class="btn btn-primary btn-lg" href="/libro" role="button">Empezar la gestion </a>
             </p>
            </div>
        </div>
     </div>



{% include 'admin/pie2.html' %}  
